@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'myfont';
    src: url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
}

*{
    font-family: myfont;
}
h1{
    color: hsl(184, 14%, 56%);
    font-weight: 700;
}
input{
    width: 100%;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
    background-color: hsl(189, 41%, 97%);
    text-align: right;
    color: hsl(183, 100%, 15%);
    font-weight: 700;
   
}
button{
    border: 1px solid;
    border-radius: 5px;
    background-color: hsl(183, 100%, 15%);
    padding: 4px 20px;
}
button:hover{
    background-color: hsl(172, 67%, 45%);
}
p{
    color: white;
}